.favorites-button {
    font-size: 1.5rem;
    color: $neonColor;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
    border: $neonColor 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.3), 
        0 0 0.25em $neonColor
    ;
    
    box-shadow: 
        inset 0 0 0.5em 0 $neonColor,
              0 0 0.5rem 0 $neonColor
    ;
    
    position: relative;

    transition: background-color 100ms linear;

}

.favorites-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: $neonColor;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.25rem);
    opacity: 0.6;
}

.favorites-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em .5em $neonColor;
    opacity: 0;
    transition: opacity 100ms linear;
}

.favorites-button:hover {
    background: $neonColor;
    font-size: 1.5rem;
    color: black;
    text-shadow: none;
}

.favorites-button:hover::before {
    opacity: 1;
}

.favorites-button:hover::after {
    opacity: 1;
}